@font-face {
  font-family: "Zoff";
  src: url("./zoff.woff");
}

@font-face {
  font-family: "Zoff2";
  src: url("./zoff2.woff");
}

* {
  font-family: "Zoff" !important;
  color: black;
}

h2{
  font-family: "Zoff2" !important;
}

.about-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 7rem;
  position: fixed;
  bottom: 4rem;
  right: 3rem;
}

.about-page * {
  font-size: 2.5vw;
}

.about-page strong {
  text-decoration: underline;
}

.about-page .content {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 8vw;
  padding-bottom: 8vw;
}

.about-page .back-link {
  position: fixed;
  top: 1vw;
  left: 5vw;
  text-decoration: none;
  font-size: 7vw;
}

.about-page .locale-links {
  position: fixed;
  top: 10vw;
  left: 5vw;
}

.about-page .locale-links a {
  font-size: 3.5vw;
  text-decoration: none;
}
