@font-face {
  font-family: "Zoff";
  src: url("./zoff.woff");
}

@font-face {
  font-family: "Zoff2";
  src: url("./zoff2.woff");
}

body {
  margin: 0;
  margin-top: -15px;
}

* {
  font-family: "Zoff" !important;
  color: black;
}

h2{
  font-family: "Zoff2" !important;
}

figcaption {
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
}

.project-container {
  position: relative;
  float: left;
}

.project-container .project-inner-container {
  padding-left: 1.5vh;
  padding-top: 1.5vh;
}

.project-container img {
  width: 100%;
}

.project-container .first-image {
  cursor: pointer;
  filter: brightness(80%);
}

.project-container .first-image:hover {
  filter: brightness(60%);
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-cross-overlay {
  pointer-events: none;
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 100px;
  position: fixed;
  bottom: 0;
  right: 30px;
}

.about-page strong {
  text-decoration: underline;
  font-weight: normal;
}

.about-page .content {
  padding-left: 20vw;
  padding-right: 15vw;
  padding-top: 7vw;
  padding-bottom: 7vw;
}

.about-page .back-link {
  position: fixed;
  top: 1vw;
  left: 5vw;
  text-decoration: none;
  font-size:calc(20px + 4vw);
  font-weight: bold;
}

.about-page .locale-links {
  position: fixed;
  top: 10vw;
  left: 10vw;
}

.about-page .locale-links .active {
  text-decoration: underline;
}

.about-page .locale-links a {
  text-decoration: none;
}

@media (min-width: 0px) and (max-width: 576px) {
  figcaption { font-size: 10px }
  .about-page * { font-size: 20px }
}

@media (min-width: 576px) and (max-width: 767px) {
  figcaption { font-size: 12px }
  .about-page * { font-size: 24px }
}

@media (min-width: 768px) and (max-width: 991px) {
  figcaption { font-size: 12px }
  .about-page * { font-size: 30px }
}

@media (min-width: 992px) and (max-width: 1199px) {
  figcaption { font-size: 14px }
  .about-page * { font-size: 35px }
}

@media (min-width: 1200px) {
  figcaption { font-size: 14px }
  .about-page * { font-size: 40px }
}
